@use "principales/variables";
@use "principales/resetybase";
@use "principales/bosprinc";
@use "principales/gradienttext";
@use "estructura/botones";
@use "estructura/navbar";
@use "estructura/modal";
@use "estructura/fotter";
@use "estructura/responsive";
@use "contenido/calendario";
@use "contenido/cartas";
@use "contenido/chat";
@use "contenido/formularios";
@use "contenido/video";










