@use"bases/variables";
@use"bases/basesgenerales";
@use"bases/botones";
@use"contenidos/calendario";
@use"contenidos/cardscartas";
@use"contenidos/carrusel";
@use"contenidos/chat";
@use"estructura/footer";
@use"contenidos/formularios";
@use"bases/gradientestext";
@use"estructura/header";
@use"estructura/responsive";
@use"contenidos/video";












