@use "../bases/variables";
/* BOTONES */
.btn-primary {
  background: linear-gradient(90deg, variables.$color-secondary, variables.$color-primary);
  border: none;
  color: #fff;

  &:hover {
    background: linear-gradient(90deg, variables.$color-primary, variables.$color-secondary);
  }
}
