.text-gradient {
  background: linear-gradient(90deg, var(--color-secondary), var(--color-primary));
  
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  font-weight: bold;
}
