/* VARIABLES SCSS */
$color-primary: #8e2de2;      // morado intenso
$color-secondary: #4a00e0;    // morado oscuro
$color-accent: #ffb347;       // naranja suave
$color-bg: #4b0588;           // violeta oscuro místico
$color-text: #f0f0f0;         // texto claro
$color-muted: #ccc;           // texto secundario
