@use "mixins" as *;
@use "variables" as *;



// RESET Y BASE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    background-color: $color-bg;
    color: $color-text;
    line-height: 1.5;

    a {
        color: $color-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Títulos
h1,
h2,
h3,
h4,
h5,
h6 {
    @include texto-gradiente($color-accent1, $color-accent2);
    font-family: $font-primary;
    color: $color-text;
}

// Secciones generales
main {
    flex: 1 0 auto;
}

section {
    padding: 60px 0;
    background-color: $color-bg;
}