@charset "UTF-8";

// ------------------------
// VARIABLES
// ------------------------
$color-bg: #4b0588;
$color-text: #f2d18b; // dorado suave elegante
$color-accent1: #61e29b;
$color-accent2: #a64bf5;
$color-accent3: #ffb347;
$color-btn-hover: #a64bf5;
$color-box-bg: rgba(0, 0, 0, 0.5);
$color-chat-bg: rgba(30, 0, 50, 0.85);
$font-primary: 'Marcellus', serif;
