@use "../principales/mixins" as *;
@use "../principales/variables" as *;

// ------------------------
// GALERÍA DE CARTAS
// ------------------------
.card {
    &.carta {
        @include carta-base;
        @include sombra-mistica($color-accent2);

        border: none;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-8px);
            @include sombra-mistica($color-accent2, 0.9);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        }

        img {
            width: 100%;
            display: block;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 20px rgba($color-accent2, 0.7);
            }
        }
    }
}
