.carta {
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;

    img {
        width: 100%;
        aspect-ratio: 3 / 5;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
        transition: .3s;
    }

    &:hover {
        transform: translateY(-8px) scale(1.03);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
    }

    p {
        color: #ffe8b6;
        font-size: .95rem;
        margin-top: .4rem;
    }
}

#tiradaResultado .carta {
    max-width: 200px;
    margin: auto;
}