@use "../principales/variables" as *;

// ------------------------
// FORMULARIOS
// ------------------------
.formulario {
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: $color-text;

    // Inputs
    .form-control,
    .form-select {
        background-color: rgba(255, 255, 255, 0.1);
        color: $color-text;
        border: 1px solid #444;

        &:focus {
            border-color: $color-accent2;
            box-shadow: 0 0 5px rgba($color-accent3, 0.5);
            background-color: rgba(255, 255, 255, 0.1);
            color: $color-text;
        }
    }
}

// Título con gradiente (si lo usás dentro de cualquier parte)
.text-gradient {
    background: linear-gradient(90deg, $color-accent2, $color-accent1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}