/* FORMULARIOS */
.formulario {
  max-width: 450px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  color: var(--color-text);
}

.form-control,
.form-select {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-text);
  border: 1px solid #444;

  &:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 5px rgba(255, 179, 71, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text);
  }
}
